@font-face {
    font-family: "Anton";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/anton/v15/1Ptgg87LROyAm3Kz-C8.woff2);
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
    background-color: #5EB090
  }
  .text{
    font-size: 5em;
    font-weight: 800;
    color: white;
  }
  .plus{
    color: #242424;
  }
  .y{
    color: #242424;
  }
  .vs{
    color: #242424;
  }
  .contenedor{
    width: 180px;
    height: 160px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contenido-slider{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5em;
    color: #242424;
  }