.contacto {
  margin-top: 80px;

  .contacto-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .contacto-title {
      background: linear-gradient(135deg, #fceee9 0%, #ecf8f8 100%);
      border-radius: 100px 0px 0px 24px;
      height: 592px;
      padding: 70px 0px;
      width: max-content;
      text-align: center;
      position: relative;
      bottom: -40px;

      p {
        font-weight: bold;
        font-size: 20px;
        line-height: 32px;
        color: $color-orange;
      }

      h3 {
        font-weight: 900;
        font-size: 56px;
        line-height: 64px;
        font-family: $font-cursiva;
        margin: 0 70px;
      }

      .contacto__container-img {
        width: 100%;
        display: flex;
        justify-content: flex-end;

        img {
          padding: 40px 0px;
        }
      }
    }
  }

  .contacto-card {
    width: 761px;
    height: 681px;
    background: $color-orange;
    color: #ffece1;
    border-radius: 150px 24px 24px 0px;

    p {
      padding-left: 10%;
      padding-right: 5%;
      font-weight: 300;
      font-size: 20px;
      line-height: 30px;
      padding-top: 20px;

      &:first-of-type {
        padding-top: 10%;
      }
    }
  }

  .contacto-footer {
    margin-top: 100px;
    text-align: center;

    h3 {
      font-family: $font-cursiva;
      font-size: 36px;
      line-height: 64px;
      color: $color-blue;
      font-style: normal;
      font-weight: normal;

      span {
        font-family: $font-minuscula;
        font-weight: 600;
      }
    }

    p {
      &:first-of-type {
        font-weight: bold;
        font-size: 30px;
        line-height: 64px;
        margin-top: 150px;
        font-family: $font-cursiva;
      }

      &:last-of-type {
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 30px;
        color: $color-green;
        font-family: $font-minuscula;
      }
    }
  }
}
