.datos {
    margin-top: 250px;
    height: 500px;
    background-image: url(../imgs/img-datos.JPG);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .datos__card-container {
        display: flex;
        width: 50%;
        justify-content: center;

        .datos_card {
            background: rgb(11, 84, 110);
            color: white;
            border-radius: 150px 24px 24px 24px;
            width: 573.15px;
            height: 424px;
            position: relative;
            top: -80px;
            letter-spacing: 1px;
            display: flex;
            align-items: center;
            flex-direction: column;

            h3 {
                color: $color-orange;
                letter-spacing: 1px;
                font-size: 30px;
                position: relative;
                text-align: center;
                top: 20px;
            }

            ul {
                margin-top: 20px;
                position: relative;
                left: 50px;
                color: #FFECE1;

                li {
                    margin-top: 20px;
                    font-weight: 300;
                }
            }
        }
    }

    .datos_text-container {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        .datos_text {
            color: $color-blue;
            font-size: 50px;
            font-style: italic;
            font-family: $font-cursiva;
            width: 584px;
            height: 200px;

            span {
                font-weight: 900;
                font-family: $font-cursiva;
            }
        }
    }

}

