/*desktop*/
@media only screen and (min-device-width: 1441px) and (max-device-width: 2560px) {
    html {
        font-size: 160%;
    }

    section {
        scroll-margin-top: 200px;
    }

    header {
        height: 180px;

        nav {
            ul {
                li {
                    font-size: 1.7rem;
                }
            }
        }

        .logo__container {
            .logo {
                width: 150px;
                height: 150px;
            }
        }
    }

    .home {
        height: 1700px;

        .home__bg-container {
            .home__bg {
                height: 1600px;
                min-height: 1200px;
            }
        }

        .home__title {
            height: 2300px;

            .home__button {
                width: 400px;
                height: 90px;
                font-size: 1.3rem;
                margin: 150px 0 0 0;
            }
        }
    }

    .business {
        height: 1200px;
        font-size: 100%;
        margin-bottom: 150px;

        .business__text {
            .business__title {
                max-width: 1450px;
                margin-bottom: 50px;
            }
        }

        .business__subtitle {
            font-size: 1.4em;
        }

        .business__cards {
            margin: 150px 0;

            .business__cards-container {
                .business__card {
                    width: 500px;
                    height: 400px;

                    .business__img {
                        width: 300px;
                        height: 300px;
                        position: relative;
                    }

                    .business__title {
                        position: relative;
                        top: 200px;
                    }
                }

                .business__card-tech {
                    top: 40px;
                    height: 450px;

                    .business__img {
                        top: -300px;
                    }
                }

            }
        }
    }

    .valores {
        .valores__title-container {
            margin: 20px 0 100px;
            .valores__title {
                margin: 0 50px;
            }

            .valores__logo {
                width: 200px;
                height: 200px;
            }
        }

        .valores__container {
            .valores__text {
                ul {
                    margin-left: 180px;

                    li {
                        padding: 50px;

                        img {
                            width: 100px;
                            margin: 0 55px;
                        }
                    }
                }
            }

            .valores__img {
                width: 1800px;
                height: 900px;

                p {
                    max-width: 80%;
                    font-size: 2em;
                    line-height: 100px;

                    &:last-of-type {
                        margin-bottom: 80px;
                    }
                }
            }

        }
    }

    .services {
        margin: 0 0 150px 0;

        .services__text {
            .services__subtitle {
                max-width: 1700px;
            }
        }

        &__cards {
            margin: 120px 0px;

            &-container {
                .services__card {
                    width: 500px;
                }

                .services__card-green {
                    height: 450px;

                    .services__img {
                        width: 300px;
                        height: 300px;
                        position: relative;
                        top: -300px;
                    }

                    .services__title {
                        position: relative;
                        top: 250px;
                        max-width: 250px;
                    }
                }

                .services__card-orange {
                    height: 450px;

                    .services__img {
                        width: 300px;
                        height: 300px;
                        position: relative;
                        top: -300px;
                    }

                    .services__title {
                        position: relative;
                        top: 250px;
                        max-width: 300px;
                    }
                }

                .services__card-blue {
                    height: 500px;

                    .services__img {
                        width: 300px;
                        height: 300px;
                        position: relative;
                        top: -300px;
                    }

                    .services__title {
                        position: relative;
                        top: 250px;
                        max-width: 250px;
                    }
                }

            }
        }

        .services__desc {
            max-width: 2000px;
        }
    }

    .stages {
        .stages__desc {
            max-width: 1700px;
            margin: 80px 0px;
        }

        .stages__cards {
            .stages__card {
                width: 1600px;
                min-height: 180px;

                .stages__card-title {
                    min-height: 180px;
                }

                .stages__card-subtitle {
                    margin: 0 0 0 100px;
                }
            }

            .stages__card-cream {
                .stages__card-title {
                    width: 420px;
                }

                .stages__card-subtitle {
                    max-width: 800px;
                }
            }

            .stages__card-orange {
                .stages__card-title {
                    width: 520px;

                }

                .stages__card-subtitle {
                    max-width: 700px;
                }
            }

            .stages__card-green {
                .stages__card-title {
                    width: 620px;

                }

                .stages__card-subtitle {
                    max-width: 700px;
                }
            }

            .stages__card-blue {
                .stages__card-title {
                    width: 720px;

                }

                .stages__card-subtitle {
                    max-width: 600px;
                }
            }
        }

        .stages__button {
            width: 400px;
            height: 100px;
            font-size: 1.3rem;
            margin-top: 80px;
        }
    }

    .datos {
        height: 850px;
        font-size: 100%;
        margin-top: 350px;

        .datos__card-container {
            .datos_card {
                width: 900px;
                height: 700px;
                font-size: 30px;
                top: -220px;

                h3 {
                    font-size: 40px;
                    padding: 30px;
                }

                ul {
                    left: 0px;
                    font-size: 28px;
                }
            }
        }

        .datos_text-container {
            .datos_text {
                font-size: 80px;
                width: 1000px;
            }
        }
    }

    .clientes {
        .clientes__carrusel {
            width: 1700px;

            .container-clientes {
                .clientes__card {

                    div {
                        width: 530px;
                        height: 600px;
                    }

                    img {
                        width: 450px;
                        height: 510px;
                    }

                    p,
                    h4 {
                        font-size: 32px;
                    }

                    h4 {
                        margin-top: 50px;
                    }
                }
            }
        }
    }

    .testimonios {
        margin-bottom: 200px;
        .testimonios-container {
            img {
                left: 400px;
            }

            .card-testimonio {
                width: 550px;
                height: 700px;
                margin: 80px 40px 50px;

                .card-text {
                    font-size: 30px;
                    line-height: 45px;
                }

                p {
                    padding-left: 50px;
                    padding-right: 50px;
                    font-size: 25px;
                }

            }
        }
    }

    .contacto {
        .contacto-container {
            .contacto-title {
                height: 850px;
                width: 700px;
                bottom: -80px;
                border-radius: 150px 0px 0px 24px;

                h3 {
                    font-size: 70px;
                }

                p {
                    font-size: 30px;
                    line-height: 60px;
                }

                .contacto__container-img {
                    height: 600px;
                    position: relative;
                    top: 60px;
                }
            }
        }

        .contacto-card {
            width: 1200px;
            height: 1100px;

            p {
                font-size: 34px;
                line-height: 45px;
                padding-left: 8%;
                padding-top: 50px;

                &:first-of-type {
                    padding-top: 8%;
                }
            }
        }

        .contacto-footer {
            h3 {
                font-size: 60px;
            }

            p {
                &:first-of-type {
                    font-size: 60px;
                }

                &:last-of-type {
                    font-size: 40px;
                    margin-top: 30px;
                }
            }
        }
    }

    footer {
        margin-top: 100px;

        .footer_container {
            .menu_footer {
                font-size: 40px;
            }

            .footer__container-logo {
                img {
                    width: 300px;
                }
            }

            .logos__container {
                .fa-whatsapp {
                    width: 100px;
                    font-size: 60px;
                }

                .fa-facebook-f {
                    width: 100px;
                    font-size: 60px;
                }

                .fa-instagram {
                    width: 100px;
                    font-size: 60px;
                }

                .fa-linkedin {
                    width: 100px;
                    font-size: 60px;
                }
            }
        }

        p {
            font-size: 35px;
        }
    }
}