$color-black: #333333;
$color-blue: #00445d;
$color-blue-light: #129fd2;
$color-blue-light2: #056E95;
$color-green: #4c7031;
$color-green-light: #618C40;
$color-orange: #f49619;
$color-orange-ligth: #ECB976;
$color-orange-ligth2: #ffcaa0;
$color-cream-dark: #ffe0c5;
$color-cream: #ffece1;
$font-minuscula: "Poppins", serif;
$font-cursiva: "Playfair Display", serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-minuscula;
  text-decoration: none;
  a {
    color: inherit;
  }
}
body {
  font-family: "Montserrat", sans-serif;
  &::-webkit-scrollbar {
    width: 14px;
    background: #ffffff;
  }
  &::-webkit-scrollbar-thumb{
    background-color: #c9c9c9;
    border: 2px solid #ffffff;
    border-radius: 7px; 
  }
  width: 100%;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 100px;
}

@import "header.scss";
@import "home.scss";
@import "business.scss";
@import "digital.scss";
@import "services.scss";
@import "stages.scss";
@import "valores.scss";
@import "datos.scss";
@import "clientes.scss";
@import "testimonios.scss";
@import "contacto.scss";
@import "footer.scss";