$color-black: #242424;
$color-blue: #00445d;
$color-green: #4c7031;
$color-orange: #f49619;
$color-orange-ligth: #ffcaa0;
$color-cream: #ffece1;
$font-minuscula: "Poppins", serif;
$font-cursiva: "Playfair Display", serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-minuscula;
  text-decoration: none;
  a {
    color: inherit;
  }
}

@import "header.scss";
@import "home.scss";
@import "business.scss";
@import "digital.scss";
@import "datos.scss";
@import "valores.scss";
@import "footer.scss";