@media only screen and (min-device-width: 320px) and (max-device-width: 425px) {
    header{
        justify-content: space-around;
        height: 12%;
       
        .logo__container{
            padding: 0px 0px 0px 40px;
            .logo{
                width: 46px;
                height: 46px;
                font-size: 1em;
            }
        }
        nav{
            top: 65px;
        }
    }
    .home {
        height: 650px;

        .home__bg-container {
            height: 500px;

            .home__bg {
                height: 550px;
                min-height: 300px;
            }
        }

        .home__title {
            height: 650px;

            .home__text {
                font-size: 3.5em;
                width: 60%;
                text-align: center;
                margin: 0;
                padding: 0 30px 0 30px;
                line-height: 70px;
            }
            .home__button{
                font-size: .8em;
                border-radius: 10px;
                width: 130px;
                height: 40px;
            }
        }
    }

    .business {
        margin-bottom: 80px;

        .business__text {
            .business__title {
                font-size: 1.5em;
                padding: 0 50px;
            }
        }

        .business__cards {
            width: 80%;
            margin: 40px 0;

            .business__cards-container {
                display: flex;
                flex-direction: column;
                width: 100%;
                align-items: center;

                .business__card {
                    display: flex;
                    position: relative;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;
                    max-width: 350px;
                    height: 100px;
                    margin: 10px 0;

                    .business__img {
                        position: relative;
                        top: 0px;
                        bottom: 0px;
                        margin: 0 5%;
                        left: -20px;
                        width: 102px;
                        height: 102px;

                    }

                    .business__title {
                        font-size: 1.2em;
                        margin: 0;
                    }
                }

                .business__card-people {
                    border-radius: 100px 24px 24px 100px;
                }

                .business__card-tech {
                    border-radius: 100px 24px 24px 100px;
                    position: relative;
                    bottom: 0px;
                }

                .business__card-business {
                    border-radius: 100px 24px 24px 100px;
                }
            }
        }

        .business__subtitle {
            text-align: center;
            max-width: 90%;
            padding: 0 50px;
            font-size: 1em;
        }
    }

    .valores {
        .valores__title-container {
            font-size: 2em;
            height: 60px;
            margin: 0;

            .valores__logo {
                width: 80px;
                height: 80px;
            }
        }

        .valores__container {
            flex-direction: column;
            margin: 35px 0 0 0;

            .valores__text {
                width: 100%;

                ul {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    width: 100%;
                    align-items: center;
                    justify-content: center;

                    li {
                        font-size: 1.1em;
                        padding: 15px 0px;
                        display: flex;

                        img {
                            width: 20px;
                            margin: 0 15px 0px;
                        }
                    }
                }
            }

            .valores__img {
                width: 100%;
                background-position: 100%;

                p {
                    font-size: 1.2em;
                    text-align: center;
                    margin-left: 10px;
                    margin-right: 10px;
                    max-width: 400px;
                }
            }
        }
    }

    .services {
        .services__text {
            .services__title {
                font-size: 2em;
                margin-top: 0px;
            }

            .services__subtitle {
                font-size: 1em;
                padding: 0 30px;
                margin: 20px 0 80px;
            }
        }

        .services__cards {
            .services__cards-container {
                display: grid;
                width: 100vw;
                align-items: center;
                grid-template-columns: 50% 50%;
                grid-template-rows: 50% 50%;
                grid-row-gap: 2%;
                grid-column-gap: 2%;

                .services__card {
                    width: 170px;
                    height: 160px;
                    margin: 0;
                    box-shadow: -0px -24px 48px rgba(0, 24, 52, 0.2);

                    .services__img {
                        position: absolute;
                        top: -55px;
                        width: 115px;
                        height: 115px;
                        box-shadow: 0 0 0 0;

                    }

                    .services__title {
                        font-size: 1em;
                    }
                }

                .services__card-green {
                    border-radius: 100px 24px 24px 24px;
                    justify-self: end;
                }

                .services__card-blue {
                    border-radius: 24px;
                    position: relative;
                    height: 170px;
                    width: 340px;
                    grid-column-start: 1;
                    grid-column-end: 3;
                    justify-self: center;
                    z-index: 100;

                    .services__img {
                        top: -30px;
                    }

                    .services__title {
                        max-width: 80%;
                    }
                }

                .services__card-orange {
                    border-radius: 24px 100px 24px 24px;
                    grid-row-start: 1;
                    grid-column-start: 2;
                    justify-self: start;
                }
            }
        }

        .services__desc {
            font-size: 1em;
            border-radius: 0px;
            padding: 30px 30px;
        }
    }

    .stages {
        .stages__title{
            font-size: 1.5em;
        }
        .stages__desc {
            font-size: 1em;
        }

        .stages__cards {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;

            .stages__card {
                width: 90%;
                border-radius: 24px;
                margin: 10px 0;

                .stages__card-title {
                    display: flex;
                    align-items: center;
                    min-height: inherit;
                    border-radius: 24px 100px 24px 24px;
                    font-size: 1em;
                    padding: 0 0 0 15px;
                    width: 230px;
                    height: 100%;
                }

                .stages__card-subtitle {
                    font-size: 1em;
                    margin: 0px;
                    max-width: 560px;
                }
            }

            .stages__card-cream {
                .stages__card-title {
                    height: 100%;
                }

                .stages__card-subtitle {
                    max-width: 65%;
                }
            }

            .stages__card-orange {
                .stages__card-title {
                    width: 230px;
                }

                .stages__card-subtitle {
                    max-width: 60%;
                }
            }

            .stages__card-green {
                .stages__card-title {
                    width: 230px;
                }

                .stages__card-subtitle {
                    max-width: 65%;
                }
            }

            .stages__card-blue {
                .stages__card-title {
                    width: 230px;
                }

                .stages__card-subtitle {
                    max-width: 65%;
                }
            }
        }
        .stages__button{
            font-size: .8em;
                border-radius: 10px;
                width: 130px;
                height: 40px;
        }
    }

    .datos {
        margin-top: 80px;
        height: max-content;
        background-image: inherit;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        padding: 0 20px;

        .datos__card-container {

            width: 100%;
            min-width: inherit;

            .datos_card {
                border-radius: 100px 0px 0px 0px;
                width: 100%;
                height: max-content;
                position: unset;

                h3 {
                    font-size: 1.2em;
                    top: 35px;
                }

                ul {
                    margin: 60px 0;
                    width: 100%;
                    padding: 0 10px 0 40px;
                    font-weight: 400;
                    position: unset;

                    li {
                        font-size: .8em;
                        margin-top: 10px;
                        width: 100%;
                    }
                }
            }
        }

        .datos_text-container {
            width: 100%;
            min-width: inherit;
            background-image: url(../imgs/img-datos.JPG);
            border-radius: 0px 0px 100px 0px;

            .datos_text {
                font-size: 1.5em;
                width: 100%;
                height: 100%;
                padding: 40px;

            }
        }
    }

    .clientes {
        .clientes_text {
            .clientes_title {
                font-size: 2em;
            }

            .clientes_subtitle {
                font-size: 1em;
                margin: 20px 0px;
            }
        }

        .clientes__carrusel {
            width: 700px;
            .container-clientes {
                .clientes__card {
                    margin: 20px;

                    img {
                        height: 150px;
                    }

                    p,
                    h4 {
                        font-size: 1em;
                        margin: 0px;
                    }
                    p{
                        line-height: 20px;
                    }
                }
            }
        }
    }

    .testimonios {
        .testimonios_text{
            .testimonios_title{
                font-size: 2em;
            }
            .testimonios_subtitle{
                font-size: 1em;
                margin: 20px 0;
            }
        }
        .testimonios-container {
            align-items: center;
            flex-direction: column;
            margin-top: 10px;

            .card__container {
                display: flex;
                flex-direction: column;
                align-items: center;
                position: relative;

                .card__img-container {
                    width: 90%;
                    height: 50px;
                    display: flex;
                    justify-content: flex-end;
                    position: relative;
                    bottom: -20px;

                    img {
                        position: relative;
                        left: -10%;
                        width: 60px;
                        height: 40px;
                    }
                }

                .card__img-container-green {
                    justify-content: flex-start;

                    img {
                        left: 10%;
                    }
                }

                .card-testimonio {
                    border-radius: 48px 24px 24px 24px;
                    width: 90%;
                    height: max-content;
                    padding: 20px 0;
                    margin: 0;
                    font-size: .8em;

                    .card-text {
                        padding-top: 0px;
                        text-align: start;
                        line-height: 24px;
                        padding: 10px 40px 20px;
                    }

                    .card-footer {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        text-align: end;

                        p {
                            text-align: end;
                        }
                    }
                }
            }
        }
    }

    .contacto {
        margin-top: 0px;

        .contacto-container {
            flex-direction: column;
            padding: 30px;

            .contacto-title {
                background: inherit;
                height: max-content;
                width: 100%;
                padding: 70px 0px 0px;
                margin-bottom: 60px;
                text-align: start;
                bottom: 0px;

                p {
                    font-size: .8em;
                    line-height: 1em;
                    width: 190px;
                    text-align: center;
                }

                h3 {
                    width: 190px;
                    text-align: center;
                    font-size: 1.5em;
                    line-height: 2em;
                    margin: 0 0 10px 0;
                }

                .contacto__container-img {
                    width: max-content;
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 0;

                    img {
                        width: 130px;
                        padding: 0;
                        position: relative;
                        bottom: -50px;
                        right: 20px;
                    }
                }
            }
        }

        .contacto-card {
            width: 100%;
            height: max-content;
            border-radius: 100px 24px 24px 0px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 50px 0;
            position: relative;
            top: -60px;
            z-index: -1;

            p {
                font-size: .8em;
                line-height: 1.3em;

                &:first-of-type {
                    padding-top: 0;
                }
            }
        }

        .contacto-footer {
            margin-top: 10px;

            h3 {
                line-height: inherit;
                font-size: 1.2em;
                padding: 0 30px;
                width: 100%;
            }

            p {
                &:first-of-type {
                    font-size: 20px;
                    margin-top: 20px;
                }
                &:last-of-type{
                    font-size: 15px;
                    line-height: 10px;
                }
            }
        }
    }

    footer {
        .footer_container {
            padding: 0 30px;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: max-content max-content;
            margin-bottom: 10px;

            .logos__container {
                align-items: center;
                justify-content: center;
                grid-row-start: 2;
                grid-row-end: 3;
                grid-column-start: 1;
                grid-column-end: 3;

                .fa-whatsapp {
                    width: 25px;
                    font-size: 1.5em;
                }

                .fa-facebook-f {
                    width: 25px;
                    font-size: 1.5em;
                }

                .fa-instagram {
                    width: 25px;
                    font-size: 1.5em;
                }

                .fa-linkedin {
                    width: 25px;
                    font-size: 1.5em;
                }
            }

            .menu_footer {
                font-size: 1em;
            }

            .footer__container-logo {
                align-self: center;

                img {
                    width: 100px;
                }
            }
        }
    }
}